// Sitewide imports - import first
@import '../themes/andromeda/sass/main.scss';

body {
  background-image: url('splat_background_light.jpg');
  background-size: contain;
//  background-repeat: no-repeat;
//  color: #FFFFFF;
}
