{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

    {{ macros::head() }}

    <body>
        <div id="index-header">
            <canvas id="stars"></canvas>
            <h1 class="andromeda-header-text">
                <a href="{{ config.base_url }}">{{ config.title }}</a>
            </h1>
            <span class="header-link-container">
                {% for link in config.extra.header_links %}
                <a href="{{ link.url }}" class="header-link" target="_blank">{{ link.name }}</a>
                {% endfor %}
            </span>
        </div>
        <div class="content">
            {% block content %}
            <div class="posts">
                {% for page in section.pages %}
{% if page and page.updated %}
  {% set showdate = page.updated %}
{% else %}
  {% set showdate = page.date %}
{% endif %}
                <a class="stretched" href="{{config.base_url}}/{{page.path}}">
                    <div class="post-container">
                        <img data-src="{{page.extra.header_img}}" class="lozad" data-placeholder-background="darkgrey">
                        <div class="post-text">
                            <h2 class="post-title">{{ page.title | safe }}</h2>
                            <span class="post-description">{{ page.description | safe }}</span>
                            <span class="post-date">{{ showdate | date(format="%Y/%m/%d") }}</span>    
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endblock content %}
        </div>
        {{ macros::footer() }}
    </body>
</html>
